<h1>All Courses</h1>

<ul class="courses">
  <% @courses.each do |course| %>
    <li>
      <p>Name: <%= course.name %></p>
      <p>Time: <%= course.time %></p>
      <p><%= button_to "Register", course_registrations_path(course) %></p>
    </li>
  <% end %>
</ul>
